<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Selenium-Java-Framework Suite" verbose="1">

    <test name="Week2 - Selenium Core">
        <classes>
            <class name="week2.seleniumcore.Week2_DropdownCheckboxRadioTests"/>
        </classes>
    </test>

</suite>