<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Selenium-Java-Framework Suite" verbose="1">

    <test name="Locators Practice">
        <packages>
            <package name="LocatorsPractice"/>
        </packages>
    </test>

    <test name="TestNG Basics">
        <packages>
            <package name="testng_basics"/>
        </packages>
    </test>

    <test name="WebDriver">
        <packages>
            <package name="webdriver"/>
        </packages>
    </test>

    <test name="Week2 - Selenium Core">
        <packages>
            <package name="week2.seleniumcore"/>
        </packages>
    </test>

</suite>